body {
  margin: 10px; 
  margin-top: 55px;
  background-color:black;
}
a {
  text-decoration: none;
  color: white;
}

h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
}

a.hover {
  text-decoration: none;
  color: #000;
}

.mw-content-ltr {
  direction: ltr;
}

ul.gallery {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  display: block;
}

li.gallerybox {
  vertical-align: top;
  display: inline-block;
  margin: 0px;
}

.pinlist-image {
  width: 143px;
}

.pinbox {
  width: 143px;
}

div.thumb {
  width: 143px;
  margin: 0px auto;
  background-color: black;
}

.center {
  text-align: center;
}


.App {
  text-align: center;
}

.pinname {
  text-align: center;
  font-size: 80%;
  line-height: 120%;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: .8em;
}
.pinset {
  text-align: center;
  font-size: 60%;
  font-style: italic;
}

img {
  border: none;
  vertical-align: middle;
}


.search-box {
  position: fixed;
  top: 7px;
  right: 70px;
  width: 300px;
  z-index: 9998!important;
  display: flex;
  flex-flow: row-wrap;
  align-items: center;
}

@media screen and (max-width: 1170px) {
  .search-box {
    position: static;  
    right: 0px;
    left: 250px;
    top: 7px;
    width: 300px;
    padding: 15px;    
    margin-left: auto;
    margin-right: auto;
    text-align: left;    
  }
  ul.gallery {  
    margin-top: 0px;
    }  
}

.page-nav {
  margin: 15px 0 0 0 ;
  border-radius: 0;
  display: inline-block;
  padding-left: 0;
}

.page-nav li a {
    position: relative;
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 13px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
    color: #333333;
}

.detail-box {
  background-color: #2f3131;
  padding: 10px;
  margin-top: 65px;
}

.set-name {
  margin-top: 10px;
  font-size:medium;
}
.dropdown-item {
  font-size:1em;
  line-height: 90%;
}

.tag-list {
  list-style-type: none;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
  overflow: hidden;
}
.tag-list-item {
  float: left;
  margin-right: 15px;
  border: 0px solid black;
  border-radius: 10px;
  padding: 4px 10px 4px 10px;
  background-color: #4d4d4d;
}

.tag-list-item a {
  color: white;
  font-size: smaller;
  font-weight: bold;
}

.navbar-nav {
  line-height: 70%;
}
@media all and (min-width: 800px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media only screen and (max-device-width : 640px) {
  .pinlist-image { width: 80px; }
  .pinbox { width: 80px; }  
  div.thumb { width: 80px; }
  .dropdown-item {
    font-size:.8em;
    line-height: 60%;
  }

}

.footer-text {
  font-size: x-small;
  color: white;
}


.column {
  float: left;
  padding: 10px;
}

.left {
  width: 1000px;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.mw-content-ltr {
  margin-top: 70px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 2px;
  font-family: 'Raleway', sans-serif;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: red;}

.image-gallery-row {
  vertical-align: top;
  display: inline-block;
  margin: 2px;
}

.image-gallery-column {
  width: 300px;
}

.production-history {
  background-color: red;
  color: white;
  width: 350px;
  padding: 3px;
  text-align: center;
  font-size: 80%;
  font-family: 'Raleway', sans-serif;
}
.edition {
  border: 1px solid black;
  width: 350px;
  padding: 3px;
}

.edition-text-1 {
  font-size: 80%; 
  color: white;
}

.edition-text-2 {
  font-size: 65%; 
  color: white;
}

.edition-text-3 {
  font-size: 75%; 
  color: white;
}

.pin-text {
  color: white;
}


.image-carousel {
  width: 350px;
}

.sliderimg{
  width: 100%;
  object-fit: cover
}

.alice-carousel__prev-btn {
  font-size: 3em;
  font-family: 'Anton', sans-serif;
}

.alice-carousel__next-btn {
  font-size: 3em;
  font-family: 'Anton', sans-serif;
}


.unlock-first-column {
  width: 20%;
  padding: 0 10px 0 0;
  float: left;
}

.unlock-second-column {
  width: 80%;
  padding: 0 10px 0 0;
  float: right;
  padding: 10px;
}

/* Clear floats after the columns */
.unlock-row:after {
  content: "";
  display: table;
  clear: both;
}

.unlock-row {
  background-color: gray;
  border-radius: 20px;
  margin: 10px;
}

.unlock-name {
  color: white;
}

.unlock-image {
height: 120px;
}

.unlock-header {
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;;
}

.unlock-header-name {
  color: white;
}

.unlock-header-power {
  color: white;
}


.five-columns {
  display: flex;
  flex-flow: row wrap;
}
.column-item {
  flex-basis: 19%;
  flex-grow: 1;
  margin: 0.5% !important;
  min-width: 40px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: small;
  background: #4d4d4d;
}